<!DOCTYPE html>
<html>
<head>
  <title>Ihaveto</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- flash messages -->
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "danger" %> dismis">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>

  <%= render 'layouts/header' %>
    
  <div class="fixed-menu sb-collapsed" id="cl-wrapper">
     
    <%= render 'layouts/sidebar' %>

    <div class="container-fluid" id="pcont">
      <!-- here -->
      <%= yield %> 
    </div> 
    
  </div>
  <%= javascript_include_tag "template/bootstrap/dist/js/bootstrap.min" %>
</body>
</html>